.contact-container {
    background-image: linear-gradient(0deg, #000000, #700000);
    height: 100vh;
    position: relative;
}

body {
  margin:0;
  padding:0;
  background:#ccc;
  font-family: 'Roboto Condensed', sans-serif;

}

.social-ul  {
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  display:flex;
  margin:0;
  padding:0;
}

.social-ul li {
  list-style:none;
  margin:0 5px;
}

.social-ul li a .fab {
  font-size: 40px;
  color: #262626;
  line-height:80px;
  transition: .5s;
  padding-right: 14px;
}

.social-ul li a span {
  padding:0;
  margin:0;
  position:absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: .5s;
}

.social-ul li a {
  text-decoration: none;
  display:absolute;
  display:block;
  width:210px;
  height:80px;
  background: #fff;
  text-align:left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  transition:.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
.social-ul li a:before {
  content: '';
  position: absolute;
  top:10px;
  left:-20px;
  height:100%;
  width:20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}
.social-ul li a:after {
  content: '';
  position: absolute;
  bottom:-20px;
  left:-10px;
  height:20px;
  width:100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

.social-ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

.social-ul li:hover .fab {
  color:#fff;
}

.social-ul li:hover span {
  color:#fff;
}

.social-ul li:hover:nth-child(1) a{
  background: #d81c3f;
}
.social-ul li:hover:nth-child(1) a:before{
  background: #e4405f;
}
.social-ul li:hover:nth-child(1) a:after{
  background: #e46880;
}

.social-ul li:hover:nth-child(2) a{
  background: #af4f00;
}
.social-ul li:hover:nth-child(2) a:before{
  background: #f76300;
}
.social-ul li:hover:nth-child(2) a:after{
  background: #e9830f;
}

.social-ul li:hover:nth-child(3) a{
  background: #929292;
}
.social-ul li:hover:nth-child(3) a:before{
  background: #6e6e6e;
}
.social-ul li:hover:nth-child(3) a:after{
  background: #4d4d4d;
}

.social-ul li:hover:nth-child(4) a{
  background: #696969;
}
.social-ul li:hover:nth-child(4) a:before{
  background: #3b3b3b;
}
.social-ul li:hover:nth-child(4) a:after{
  background: #070707;
}


.social-ul li:hover:nth-child(5) a{
  background: #6991e7;
}
.social-ul li:hover:nth-child(5) a:before{
  background: #18619c;
}
.social-ul li:hover:nth-child(5) a:after{
  background: #0e5b8f;
}


.social-ul li:hover:nth-child(6) a{
  background: #8f4d4b;
}
.social-ul li:hover:nth-child(6) a:before{
  background: #ca4040;
}
.social-ul li:hover:nth-child(6) a:after{
  background: #882237;
}