.portfolio-container {
    background-image: linear-gradient(0deg, #401f71, #faac7b);
    height: 100vh;
}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.button1 {
	background-color: white; 
	color: black; 
	border: 2px solid #000000;
}

.button1:hover {
	background-color: #000000;
	color: white;
	border: 2px solid white;
}

.box {
    width: 10%;
    height: 10%;
    position: relative;
}
.move-ttb{
	-webkit-animation: movettb 5s;
	animation: movettb 5s;
	animation-fill-mode: forwards;
}
@keyframes movettb {
    from {top: 0px;}
  	to {top: 80%;}
}

@media only screen and (max-width: 600px) {
	.box {
		width: auto;
		height: auto;
	}
}